{
    "wifi": {
        "ssid": "ssid",
        "pass": "password"
    },
    "weather": {
        "TEMP_CORR": -1,
        "ELEVATION": 14,
        "ZAMBRETTI": {
            "LANGUAGE": "EN",
            "HEMISPHERE": "N",
            "PRESSURE": {
                "PRESSURE_MIN": 1001,
                "PRESSURE_MAX": 1034
            }
        }
    },
    "file": {
        "ERRORFILE": "/error.log"
    },
    "time": {
        "NTP_HOSTS": [
            "0.us.pool.ntp.org",
            "1.us.pool.ntp.org",
            "2.us.pool.ntp.org",
            "3.us.pool.ntp.org"
        ],
        "TZ": -5,
        "DST": {
            "USE_DST": true,
            "COUNTRY": "US"
        }
    },
    "location": {
        "LATITUDE": 40.7128,
        "LONGITUDE": -74.0060
    },
    "other": {
        "SLEEP_TIME_MIN": 15,
        "BATT_CALIB": 5.375,
        "WT_AVG_HOURS": 1,
        "WT_AVG_FACTOR_MAX": 2.0,
        "WT_AVG_FACTOR_MIN": 0.5,
        "MOIST_PIN": 35
    }
}
