{
    "apps": {
        "blynk": {
            "enabled": true,
            "auth": "blynk_api_key"
        },
        "thingspeak": {
            "enabled": true,
            "host": "mqtt.thingspeak.com",
            "channel_id": 12345,
            "api_key": "thingspeak_write_api_key"
        },
        "mqtt": {
            "enabled": true,
            "mqttBroker": "192.168.1.50",
            "mqttPort": 1883,
            "mqttUser": "mqtt_username",
            "mqttPass": "mqtt_password",
            "mqttClientName": "weather_station",
            "mqttPubTopic": "weather_stn_data",
            "mqttSubTopic": "weather_stn_paused"
        }
    },
    "wifi": {
        "ssid": "ssid",
        "pass": "password"
    },
    "weather": {
        "TEMP_CORR": -1,
        "ELEVATION": 14
        },
    "file": {
        "DATAFILE": "/data.txt",
        "VERIFYFILE": "/verify.txt",
        "ERRORFILE": "/error.log"
    },
    "time": {
        "NTP_HOSTS": [
            "0.us.pool.ntp.org",
            "1.us.pool.ntp.org",
            "2.us.pool.ntp.org",
            "3.us.pool.ntp.org"
        ],
        "TZ": -5,
        "DST": {
            "USE_DST": true,
            "COUNTRY": "US"
        }
    },
    "other": {
        "LANGUAGE": "EN",  
        "SLEEP_TIME_MIN": 10
    }
}
